.App{
  height: 98vh;
  padding-top: 10px;
  background-color: rgb(141, 235, 147);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora{
  width: 400px;
  height: 500px;
  padding: 14px;
  background-color: rgb(38, 143, 61);
  border-radius: 20px;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
